<h2><img src="https://www.pentagonspace.in/assets/images/logo/logo-dark.png" alt="pentagonspace.com/" align=left></h2>
<div class="a" align=right>
    <font style="border:white; border-width:10px; border-style:outset;"width="100" height="100" color="green" > 
Class Notes </font>
</div >

<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h3 style="color: blue;">DataFrame(Pandas)</h3>
    </div>
  </div>

# **`DataFrame`**  

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

<h2><img src="https://www.tutorialspoint.com/python_pandas/images/structure_table.jpg" align=left></h2>

A pandas DataFrame can be created using the following constructor âˆ’  
>`pandas.DataFrame( data, index, columns, dtype)`

**Parameter & Description**  
1.**data**  
>data takes various forms like ndarray, series, map, lists, dict, constants and also another DataFrame.

2.**index**  
>For the row labels, the Index to be used for the resulting frame is Optional Default np.arange(n) if no index is passed.

3.**columns**  
>For column labels, the optional default syntax is - np.arange(n). This is only true if no index is passed.

4.**dtype**  
>Data type of each column.

In [30]:
import pandas as pd

In [31]:
data = pd.DataFrame()

In [33]:
type(data)

pandas.core.frame.DataFrame

In [34]:
kk = [3,4,5,6,7,8,8]
dataset = pd.DataFrame(kk)

In [35]:
dataset

   0
0  3
1  4
2  5
3  6
4  7
5  8
6  8

In [56]:
import numpy as np
data = pd.DataFrame(np.random.rand(7,5),index = [2,3,4,5,6,7,8],columns = ['A','B','C','D','E'])

In [57]:
data

          A         B         C         D         E
2  0.331782  0.578931  0.421668  0.554302  0.688782
3  0.111390  0.271162  0.353366  0.756214  0.295971
4  0.576562  0.350241  0.917954  0.642662  0.720267
5  0.289159  0.184825  0.230553  0.514704  0.305607
6  0.698882  0.309116  0.087460  0.449317  0.703072
7  0.804077  0.283481  0.765389  0.136029  0.701991
8  0.865601  0.217189  0.538861  0.124101  0.769602

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 2 to 8
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       7 non-null      float64
 1   B       7 non-null      float64
 2   C       7 non-null      float64
 3   D       7 non-null      float64
 4   E       7 non-null      float64
dtypes: float64(5)
memory usage: 336.0 bytes

In [47]:
data['A'] = data['A'].astype('int64')

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 2 to 8
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       7 non-null      float64
 1   B       7 non-null      float64
 2   C       7 non-null      float64
 3   D       7 non-null      float64
 4   E       7 non-null      float64
dtypes: float64(5)
memory usage: 336.0 bytes

In [60]:
data.head(10)

          A         B         C         D         E
2  0.331782  0.578931  0.421668  0.554302  0.688782
3  0.111390  0.271162  0.353366  0.756214  0.295971
4  0.576562  0.350241  0.917954  0.642662  0.720267
5  0.289159  0.184825  0.230553  0.514704  0.305607
6  0.698882  0.309116  0.087460  0.449317  0.703072
7  0.804077  0.283481  0.765389  0.136029  0.701991
8  0.865601  0.217189  0.538861  0.124101  0.769602

In [61]:
data.tail(2)

          A         B         C         D         E
7  0.804077  0.283481  0.765389  0.136029  0.701991
8  0.865601  0.217189  0.538861  0.124101  0.769602

In [62]:
data.describe()

              A         B         C         D         E
count  7.000000  7.000000  7.000000  7.000000  7.000000
mean   0.525350  0.313564  0.473607  0.453904  0.597899
std    0.286011  0.129325  0.292170  0.241741  0.204616
min    0.111390  0.184825  0.087460  0.124101  0.295971
25%    0.310470  0.244176  0.291959  0.292673  0.497195
50%    0.576562  0.283481  0.421668  0.514704  0.701991
75%    0.751479  0.329679  0.652125  0.598482  0.711669
max    0.865601  0.578931  0.917954  0.756214  0.769602

In [63]:
data.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [64]:
data.index

Int64Index([2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [67]:
data[['C','D']]

          C         D
2  0.421668  0.554302
3  0.353366  0.756214
4  0.917954  0.642662
5  0.230553  0.514704
6  0.087460  0.449317
7  0.765389  0.136029
8  0.538861  0.124101

In [70]:
data.sort_index(axis = 1, ascending = False)

          E         D         C         B         A
2  0.688782  0.554302  0.421668  0.578931  0.331782
3  0.295971  0.756214  0.353366  0.271162  0.111390
4  0.720267  0.642662  0.917954  0.350241  0.576562
5  0.305607  0.514704  0.230553  0.184825  0.289159
6  0.703072  0.449317  0.087460  0.309116  0.698882
7  0.701991  0.136029  0.765389  0.283481  0.804077
8  0.769602  0.124101  0.538861  0.217189  0.865601

In [71]:
data

          A         B         C         D         E
2  0.331782  0.578931  0.421668  0.554302  0.688782
3  0.111390  0.271162  0.353366  0.756214  0.295971
4  0.576562  0.350241  0.917954  0.642662  0.720267
5  0.289159  0.184825  0.230553  0.514704  0.305607
6  0.698882  0.309116  0.087460  0.449317  0.703072
7  0.804077  0.283481  0.765389  0.136029  0.701991
8  0.865601  0.217189  0.538861  0.124101  0.769602

In [72]:
data['A'][2]

0.3317818165515033

In [73]:
data['C'][4]

0.9179539288269523